<template>
    <section>
       
        <button :style="{ background:color }" class="btn" @click="addTask" >{{ button_text }}</button>

    </section>    
</template>


<script>

export default({
    data(){
        return{

        }
    },
    props :['button_text','color'],
    methods: {
        addTask(){
            this.$emit('toggle-add-task');
        }
    }
})



</script>

<style scoped>



</style>

