<template>
    <form @submit="addTask" class="add-form">
        <div class="form-control">
            <label>Task</label>
            <input type="text" v-model="name" name="text" placeholder="Add Task">

        </div>
        <div class="form-control">
            <label>Day</label>
            <input type="text" v-model="day" name="day" placeholder="Add task's day">
        </div>
        <div class= "form-control from-control-check">
            <label>Set Reminder</label>
            <input type="checkbox" v-model="reminder" name="reminder">

        </div>
        <input type="submit" value="Save Task" class="btn btn-block">      
        


    </form>   
</template>


<script>
export default({
    data(){
        return {
            name:'',
            day:'',
            reminder:false,
        }
    },
    methods: {
        addTask(e) {
            e.preventDefault()

            if(!this.name){
                alert('Please enter Tasks');
                return
            }

            const newtask = {
                id : Math.floor(Math.random() *100000),
                name:this.name,
                day:this.day,
                reminder:this.reminder
            };
            this.$emit('add-task',newtask)
            // console.log(newtask)

            this.name = ''
            this.day = ''
            this.reminder =''

        },
    },

})
</script>

<style scoped>
.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control-check label {
  flex: 1;
}
.form-control-check input {
  flex: 2;
  height: 20px;
}
</style>
