<template>
    <div @dblclick="$emit('toggle-reminder', task.id)">
        <h3 v-if="task.reminder==true" class="task_rem">{{ task.name }}
            <i @click="removeTask(task.id)" class="fas fa-times"></i>
            <h5 style="color:#3c3c3c">{{ task.day }}</h5>
        </h3>
        <h3 v-else class="task">{{ task.name }}
            <i @click="removeTask(task.id)" class="fas fa-times"></i>
            <h5 style="color:#f0f0f0">{{ task.day }}</h5>
        </h3>

    </div>    
</template>


<script>
export default({
    props:['task'],
    methods:{
        removeTask(id){
            this.$emit('remove-task',id);
            // console.log(id)
        }
    }
})
</script>


<style scoped>
.task {
  background: #0f9ee6;
  color: whitesmoke;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task_rem {
    background: #cfcaca;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-left: 5px solid green;

}
.fas {
     color: rgb(240, 75, 75);
     padding-left: 120px;
}
</style>