<template>
    <div :key="task.id" v-for="task in tasks">

        <!-- <h3>{{ task.name }}</h3> -->
        <Task  @toggle-reminder="$emit('toggle-reminder', task.id)"  @remove-task="$emit('remove-task',task.id)" :task="task"></Task>

    </div>    
</template>

<script>
import Task from './Task.vue';

export default({
    props :['tasks'],
    components :{
        Task,
    },
    emits:['remove-task','toggle-reminder']
})
</script>
