<template>
    <section>
    <h1>{{ title }} <h6 style="color:green">Reminder On</h6> 
    <h6 style="color:#0f9ee6">Reminder Off</h6> </h1>
    <Button @toggle-add-task="$emit('toggle-add-task')" 
    :button_text="showAddTask ? 'Close':'Add Task'"
    :color="showAddTask ? 'red': 'green'">
    </Button>
    
    
    


    </section>
</template>



<script>
import Button from './Button.vue';



export default({


    // data(){
    //     return{
            
    //     }
    // },
    props : ['title', 'showAddTask'],
    components:{
        Button,
    },
    emits:['toggle-add-task']
})
</script>
