<template>
  <section>
    <div class="container">
      <the-header @toggle-add-task="toggleAddTask" title="Task Tracker" 
      :showAddTask="showAddTask">
      </the-header>

      
      <div v-show="showAddTask">
      <NewTasks @add-task="addingTask"></NewTasks>
      </div>
      <Tasks @toggle-reminder="updateReminder" @remove-task="deleteTask" :tasks="tasks"></Tasks>

     
    
    </div>

  </section>  
</template>



<script>
import Tasks from './components/Tasks.vue';
import NewTasks from './components/NewTasks.vue';


export default({
  data() {
    return{
      tasks :[],
      showAddTask : false,

    }
  },

  created() {
    this.tasks = [
      {
      id:1,
      name:"Meeting with tech-leads",
      day:"Monday",
      reminder:true
    },
    {
      id:2,
      name:"Will Code in JavaScript",
      day:"Wednesday",
      reminder:false,
    },
    {
      id:3,
      name:"Complete Assignments",
      day:"Monday",
      reminder:false,
    }
    ]

  },
  components:{
    Tasks,
    NewTasks
  },
  emits: ['add-task','remove-task','toggle-reminder','toggle-add-task'],
  methods:{
    addingTask(task){
      this.tasks = [...this.tasks,task]
    },
    deleteTask(id){
      this.tasks = this.tasks.filter((task)=>task.id !=id);
      // console.log(id);
    },
    updateReminder(id){
      // console.log(id)
      this.tasks = this.tasks.map((task)=> task.id === id ?
      {...task, reminder: !task.reminder } : task)
       
    },
    toggleAddTask(){
      this.showAddTask=!this.showAddTask;
      console.log(this.showAddTask);
    }
  }
  
  
})
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

</style>
